<<<<<<< HEAD
=======
/* @font-face {
    font-family: 'Retro Mono';
    src: url('/fonts/retro-mono-stereo-wide/Retro Mono Wide.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
>>>>>>> 514d8d0 (Editor look changes)

.markdown>* {
    all: revert;
}

.content-with-editor {
    display: inline-block;
    height: 90%;
    width: 60%;
}

.tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.tab-button {
    border: none;
    background: none;
    cursor: pointer;
    border-style: solid;
    border-color: rgba(182, 32, 181, 1);
    border-width: 1.5px 3px 1.5px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(61, 23, 104, 0.26);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
    padding: 10px;
    /* font-family: 'Retro Mono'; */
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%; 
    color: rgba(182, 32, 181, 1);
}

.tab-button:hover {
    border-color: rgba(245, 111, 244, 1);
    background-color: rgba(61, 23, 104, 0.4);
}

.tab-button.active {
    background-color: rgba(61, 23, 104, 0.6);
    border-color: rgba(245, 111, 244, 1);
    color: rgba(245, 111, 244, 1);
}

.tab-container {
    width: 50px;
    background-color: transparent;
    border-right: none;
    height: 100%;
}

.index-container {
    padding-top: 5rem; /* Add padding to account for fixed header */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-layout {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 4rem);
    padding: 1rem;
}

.editor-container {
    flex: 1;
    min-width: 0;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.app-header {
    padding: 1rem;
    background-color: rgba(61, 23, 104, 0.26);
    border-bottom: 1.5px solid rgba(182, 32, 181, 1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;


.app-title {
    font-family: 'Audiowide', sans-serif;
    color: rgba(182, 32, 181, 1);
    margin: 0;
    font-size: 2rem;
    letter-spacing: 2px;
}
