.resizable-horizontal {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  .content {
    display: inline-block;
    padding: 10px;
    background-color: rgba(50, 9, 97, 0.75);
  }
  
  .resizer {
    width: 15px;
    background:rgba(61, 23, 104, 0.6);
    cursor: ew-resize;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
<<<<<<< HEAD

=======
  
>>>>>>> 959674d (merge fixes)
