
.col-box > * {
    border: 2px solid rgb(96 139 168);
    border-radius: 4px;
    padding:5px;
    margin-right: 1vw;
}


.col-box {
    display: flex;
    flex-direction: table-row;
}

hr {
    margin-right: 5px;
}

.vertical-tab-container {
    height: 100%;
    border: 1px solid #ccc;
    color:rgba(182, 32, 181, 1);
}

.tab-content {
    flex: 1;
    height:100%
}
